:root {
  --element-columns: 1;
  --statement-width: 50%;
  --column-width: auto;
}

.container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid;
}

.columns {
  display: flex;

  /* This is a special spacer to mimic the Statements */
  &::before {
    content: ' ';
    width: var(--statement-width);
  }
}

.column {
  text-align: center;
  flex: 1 0 var(--column-width);
}

.row {
  display: flex;
}

.statement {
  width: var(--statement-width);
}

.radios {
  display: flex;
  flex: 1;
}

.radio {
  flex: 1 0 var(--column-width);
}
