/** 
 * some classes are empty to ensure the class 
 * is added to the DOM element by CSS Modules 
 */

:root {
  --element-columns: 1;
  --statement-width: 50%;
  --column-width: auto;
}

.container {}

.row {
  display: flex;
  flex-wrap: wrap;
}

.error {}

.headers {
  display: none;
}

.header {}

.label {
  width: 100%;
}

.radio {
  display: block;
}

.inlineLabel {}

@media (min-width: 768px) {
  .headers {
    display: table-header-group;
  }
  
  .row {
    display: table-row;
    flex-wrap: initial;
  }

  .label {
    width: initial;
  }
  
  .inlineLabel {
    display: none;
  }
}