:root {
  --element-columns: 1;
  --statement-width: 50%;
  --column-width: auto;
  --small-screen-size: 800px;
}

.container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid;
}

.row {}

.error {
  background: tomato;
  color: #fff;
}

.headers {}

.header {}

.label {}

.radio {}

@media (min-width: var(--small-screen-size)) {
  
}